@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #082032;
    min-height: 100vh;
    height: auto;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 375px;
}


img,
.img-container {
    width: 100%;
    height: 60vh;
    display: block;
    object-fit: cover;
    object-position: center;

}


#navBar {
    position: fixed;
    top: 0;
    background-color: #FF4C29;
    color: #ffffff;
    height: 10vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.nav-item {
    text-decoration: none;
    color: #8a4124;
    padding: 0 .5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
    display: inline-block;
    font-family: 'Staatliches', sans-serif;
    font-size: 4vmin;
    white-space: nowrap;
}


.nav-item:hover {
    color: #ffffff;
}


.nav-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1em;
    background: #8a4124;
    scale: 0 1;
    transition: scale 0.3s ease, translate 0s 0.3s;
}

.nav-item-container:hover .nav-item:before {
    scale: 1;
}

.nav-item:hover:before {
    scale: 1;
    transition: scale 0.3s;
}


.nav-item-container {
    display: flex;
    align-items: center;
}


.gap {
    width: 60vw;
}


@media (max-width: 768px) {

    .nav-item {
        font-size: 2rem;
    }

    #navBar {
        height: 8vh;
        width: 100%;
    }

    img {
        height: 50vh;
    }
}

@media (max-width: 480px) {

    .nav-item {
        font-size: 1.5rem;
    }

    #navBar {
        height: 6vh;
        width: 100%;
    }

    img {
        height: 40vh;
    }
}

.img-container {
    width: 100%;
    height: 60vh;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.2;
}

#text-center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: #ffffff;
}

.nav-item-container img {
    width: 8vmin;
    height: 8vmin;
}